@import "nullstyle.scss";
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(230, 248, 194);
}
p{
    background-color: rgb(160, 102, 102);
  }
ul{
   background-color: rgb(235, 192, 192);
    li {
     list-style: none;
    color: aqua;
     text-align: center;
   }
 } 
